body,html{padding: 0; margin: 0;}
.main-wrap{
    width: 1000px;
    height: 100px;
    margin:0 auto;
}
.one{
    background-color:brown; 
    padding: 0 15px ;
    
}
.header{position: relative;     height: 75px;}
.menuwrap{
    float: left;     margin-top: 10px;
}
.menuwrap a{
      color:white;
      text-decoration: none;
      margin-right: 15px;
      padding:15px 0;
      display: inline-block;
      font-size: large;
      
}
.logo {
    display: inline-block;
    width: 70px;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    top: 2px;
}
.logo img{
       width: 100%;
}
.social{
    float: right;
    margin-top: 10px;
}

.social a{
     margin-left: 15px;
     padding:15px 0;
     display: inline-block;
}

.main-wrap{
    background-color:brown;
    width: 1450px;
    height: 2000px;
    margin: auto;
    background-size: contain;
}
.banner left{
    width:65%;
    float:left;
}
.banner right{
    margin-right:500px ;
    
    
    
}
.letter{
    color:white;
    font-style: normal;
    font-weight: bolder;
    font-size: xx-large;
}